.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  height: 100vh;
}

Footer {
  width: 100%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 0;
}
